@import "fonts";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
   height: 100%;
   width: 100%;
   font-family: "TenorSans", sans-serif;

   button {
      font-family: sans-serif;
   }

   #nav {
      &::-webkit-scrollbar {
         display: none;
      }

      .navigation-links {
         .category-title {
            font-size: 17px;
            font-weight: 600;
            margin-bottom: 0.75em;
         }

         .navigation-link {
            display: flex;
            flex-direction: row;
            gap: 0.75em;
            align-items: center;
            padding: 0 1em;
            text-decoration: unset;
            margin-bottom: 1em;

            .link-icon {
               flex: 1;
               position: relative;
            }

            .link-title {
               font-size: 15px;
               font-weight: normal;
               flex: 10;
            }
         }
      }
   }
}